@{
    ViewBag.Title = "身心健康與安全管理系統";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<section>
    <div class="container">
        <div style="overflow:auto; border: 2px #ccc solid; padding: 10px">
            <div>
                <p><span class="label" style='color:black'>您目前還不是志工</span></p>
                <input clsss="float_right" type="button" value="加入志工" style='width:100%;' onclick="AddVolunteers()" />
            </div>
            <p></p>
            <div style="overflow:hidden;">
                <p><span class="label" style='color:black'>您目前沒有可以發出需求申請的對象</span></p>
                <input clsss="float_right" type="button" value="新增家屬" style='width:100%;' onclick="AddFamily()" />
            </div>
        </div>
    </div>
</section>