@{
    ViewBag.Title = "健康監測";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>

            </p>
        </div>
    </section>
}

<h2>Monitor</h2>
<ol class="round">
    <li class="one">
        <h5>好友</h5>
        我是描述
        <a href="#">Learn more…</a>
    </li>
    <li class="two">
        <h5>群組</h5>
        我是描述
        <a href="#">Learn more…</a>
    </li>

</ol>
