@{
    ViewBag.Title = "身心健康與安全管理系統";
}

<link href="~/Content/Style.css" rel="stylesheet" />



<div class="jumbotron">
    <h1 class="text-center">身心健康與安全管理系統 </h1>
    <p class="text-center">很高興為您服務 ! 能隨時關心您的健康是我們的榮幸，對於本系統有任何疑問歡迎提出</p>
    <p class="text-center">感謝不吝指教 祝您身體健康 !</p>
</div>
