@{
    ViewBag.Title = "身心健康與安全管理系統";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            @*<p>
                    To learn more about ASP.NET MVC visit
                    <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                    The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                    If you have any questions about ASP.NET MVC visit
                    <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
                </p>*@
            <p>
            </p>
        </div>
    </section>
}

<section>
    <div class="container">
        <div style="overflow:auto; width:100%; border: 2px #ccc solid; padding: 10px">
            <header style="font-size:20px;">
                <ol>
                    <li>
                        <dl>
                            <dt>幸福老化整合平台(Group1) :</dt>
                            <dd>登入登出系統，會員資料庫</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>即時通知系統(Group7) :</dt>
                            <dd>通知系統，通知App，需求資料庫</dd>
                        </dl>
                    </li>
                </ol>

            </header>
        </div>
    </div>
</section>

